@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Name: Raizel Sablan</h3>
<ul>
    <li><a href="https://www.facebook.com/zelmoyahoo/">Facebook Account</a></li>
    <li><a href="https://www.linkedin.com/in/raizel-sablan-23685724a/">LinkedIn</a></li>
</ul>